.card {
    width: 400px;
    background: rgb(206, 180, 180);
    padding: 16px;
    border-radius: 8px;
}

.cardImg {
    max-height: 350px;
    max-width: 200px;
}

.title {
    font-size: 18px;
    font-weight: 600;
}