.modal {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(158, 149, 149, 0.424);
    z-index: 100;
}

.modalCard {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    position: absolute;
    padding: 10px;
    top: 50%;
    right: 50%;
    background: rgb(228, 225, 225);
    width: 300px;
    height: 300px;
    border-radius: 8px;
    box-shadow: 0 0 4px #555555;
}

